{
  "openapi": "3.1.0",
  "info": {
    "title": "Antifailure control plane",
    "version": "1.0.0",
    "description": "Environments, runs, verdicts, masking attestations, and network decisions across an organization. The control plane never receives database contents, model traffic, or secrets: it receives events, metadata, and artifacts that were opted in.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://app.antifailure.dev",
      "description": "Antifailure hosted control plane"
    }
  ],
  "components": {
    "securitySchemes": {
      "session": {
        "type": "apiKey",
        "in": "cookie",
        "name": "af_session"
      },
      "engineToken": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Refusal": {
        "type": "object",
        "description": "A refusal from a hand-written route. `error` is one sentence for a person, and it names no internal path, table, or query.",
        "properties": {
          "error": {
            "type": "string"
          },
          "retryAfterSeconds": {
            "type": "integer",
            "minimum": 0,
            "description": "Present on 403 and 429. Wait this long before sending the same request again."
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "ServerFailure": {
        "type": "object",
        "description": "The unexpected path. Hono answers an unhandled error with plain text by default, and a caller should not need a second parser exactly when the service is least healthy, so this shape is guaranteed instead.",
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "resolution"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "A code from the published catalog at https://antifailure.dev/errors.v1.json."
              },
              "message": {
                "type": "string"
              },
              "resolution": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "requestId": {
            "type": "string",
            "description": "The same value as the x-request-id response header. Quote it when reporting the failure: it is the only thing that ties this answer to a log line, because nothing about the request payload is logged."
          }
        },
        "required": [
          "error",
          "requestId"
        ],
        "additionalProperties": false
      },
      "TrpcFailure": {
        "type": "object",
        "description": "The tRPC error envelope, produced by tRPC rather than by this service. `code` is the JSON-RPC integer; the readable one is `data.code`.",
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "code",
              "data"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              },
              "data": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "examples": [
                      "UNAUTHORIZED",
                      "FORBIDDEN",
                      "BAD_REQUEST"
                    ]
                  },
                  "httpStatus": {
                    "type": "integer"
                  },
                  "path": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": true
      },
      "TrpcResult": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {}
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "Readiness": {
        "type": "object",
        "description": "Served by both the 200 and the 503. `version` and `commit` are what is actually deployed, which is the pair a rollback decision is made on.",
        "required": [
          "ready",
          "version",
          "commit"
        ],
        "properties": {
          "ready": {
            "type": "boolean"
          },
          "version": {
            "type": "string"
          },
          "commit": {
            "type": "string"
          },
          "reason": {
            "type": "string",
            "description": "Present only when ready is false. Why the database did not answer."
          }
        },
        "additionalProperties": false
      },
      "IngestResult": {
        "type": "object",
        "required": [
          "accepted",
          "duplicates",
          "rejected",
          "unprojected",
          "outcomes"
        ],
        "properties": {
          "accepted": {
            "type": "integer",
            "minimum": 0
          },
          "duplicates": {
            "type": "integer",
            "minimum": 0
          },
          "rejected": {
            "type": "integer",
            "minimum": 0
          },
          "unprojected": {
            "type": "integer",
            "minimum": 0
          },
          "outcomes": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "status"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "accepted",
                    "duplicate",
                    "rejected"
                  ]
                },
                "reason": {
                  "type": "string"
                },
                "note": {
                  "type": "string"
                }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      }
    }
  },
  "x-permissions": [
    {
      "name": "environments.view",
      "description": "See environments, their state, and their preview URLs.",
      "roles": [
        "owner",
        "admin",
        "member",
        "viewer"
      ]
    },
    {
      "name": "environments.create",
      "description": "Bring an environment up for a branch or pull request.",
      "roles": [
        "owner",
        "admin",
        "member"
      ]
    },
    {
      "name": "environments.teardown",
      "description": "Tear an environment down, or put it to sleep.",
      "roles": [
        "owner",
        "admin",
        "member"
      ]
    },
    {
      "name": "masking.edit",
      "description": "Propose a change to a repository’s masking rules.",
      "roles": [
        "owner",
        "admin",
        "member"
      ]
    },
    {
      "name": "masking.approve",
      "description": "Approve a masking rule change so that it can be opened as a pull request.",
      "roles": [
        "owner",
        "admin"
      ]
    },
    {
      "name": "network.edit",
      "description": "Propose a change to the egress policy.",
      "roles": [
        "owner",
        "admin",
        "member"
      ]
    },
    {
      "name": "network.approve",
      "description": "Approve an egress policy change, including one that loosens it.",
      "roles": [
        "owner",
        "admin"
      ]
    },
    {
      "name": "agents.run",
      "description": "Start an agent run against an environment.",
      "roles": [
        "owner",
        "admin",
        "member"
      ]
    },
    {
      "name": "load.run",
      "description": "Start a load run against an environment.",
      "roles": [
        "owner",
        "admin",
        "member"
      ]
    },
    {
      "name": "members.manage",
      "description": "Invite, remove, and change the role of members.",
      "roles": [
        "owner",
        "admin"
      ]
    },
    {
      "name": "billing.manage",
      "description": "See and change the plan, payment method, and spending caps.",
      "roles": [
        "owner"
      ]
    },
    {
      "name": "audit.read",
      "description": "Read the audit log.",
      "roles": [
        "owner",
        "admin",
        "member",
        "viewer"
      ]
    },
    {
      "name": "audit.export",
      "description": "Export the audit log, and verify its hash chain.",
      "roles": [
        "owner",
        "admin"
      ]
    },
    {
      "name": "runtimes.manage",
      "description": "Register, tag, and remove runtimes.",
      "roles": [
        "owner",
        "admin"
      ]
    },
    {
      "name": "tokens.manage",
      "description": "Create and revoke the tokens engines use to send events.",
      "roles": [
        "owner",
        "admin"
      ]
    },
    {
      "name": "organization.settings",
      "description": "Change the organization’s display name.",
      "roles": [
        "owner",
        "admin"
      ]
    },
    {
      "name": "organization.delete",
      "description": "Ask for the organization to be deleted, follow that request, and call it off.",
      "roles": [
        "owner"
      ]
    },
    {
      "name": "sessions.manage",
      "description": "See who is signed in and sign any of them out.",
      "roles": [
        "owner",
        "admin"
      ]
    },
    {
      "name": "data.export",
      "description": "Take a copy of the organization’s configuration and history out of the product.",
      "roles": [
        "owner",
        "admin"
      ]
    },
    {
      "name": "account.close",
      "description": "Close your own account: erase your name, address and identity, and leave the organization.",
      "roles": [
        "owner",
        "admin",
        "member",
        "viewer"
      ]
    }
  ],
  "x-antifailure-event-types": [
    "environment.queued",
    "environment.creating",
    "environment.ready",
    "environment.sleeping",
    "environment.failed",
    "environment.torn_down",
    "run.started",
    "run.finished",
    "verdict.recorded",
    "artifact.stored",
    "golden.published",
    "network.decision",
    "workload.started",
    "workload.finished",
    "workload.cancelled"
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getLiveness",
        "summary": "Liveness",
        "security": [],
        "description": "Reports whether the control-plane process is answering. It does not touch the database.",
        "responses": {
          "200": {
            "description": "The process is answering.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The request failed for a reason the control plane did not expect. The body carries a correlation id; nothing about the request payload is logged or returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerFailure"
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "operationId": "getReadiness",
        "summary": "Readiness and deployed build",
        "security": [],
        "description": "Checks the application database and reports the version and commit that are actually serving.",
        "responses": {
          "200": {
            "description": "The process and its database are ready.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Readiness"
                }
              }
            }
          },
          "500": {
            "description": "The request failed for a reason the control plane did not expect. The body carries a correlation id; nothing about the request payload is logged or returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerFailure"
                }
              }
            }
          },
          "503": {
            "description": "The process is alive and its database did not answer. The body reports the deployed version and commit, which is what a rollback decision needs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Readiness"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events": {
      "post": {
        "operationId": "ingestEngineEvents",
        "summary": "Send events from an engine",
        "description": "Authenticated by a per-engine bearer token, not a session. Events are idempotent by id and ordered by sequence within an environment, so a retry is safe and a late arrival does not move an environment backwards. A batch carries at most 500 events.",
        "security": [
          {
            "engineToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "events"
                ],
                "properties": {
                  "events": {
                    "type": "array",
                    "maxItems": 500,
                    "items": {
                      "type": "object",
                      "required": [
                        "id",
                        "type",
                        "occurredAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique within the organization. A repeat is dropped."
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "One of x-antifailure-event-types, or a newer type this control plane does not know. An unknown type is stored and projects nothing.",
                          "examples": [
                            "environment.queued",
                            "environment.creating",
                            "environment.ready",
                            "environment.sleeping",
                            "environment.failed",
                            "environment.torn_down",
                            "run.started",
                            "run.finished",
                            "verdict.recorded",
                            "artifact.stored",
                            "golden.published",
                            "network.decision",
                            "workload.started",
                            "workload.finished",
                            "workload.cancelled"
                          ]
                        },
                        "envId": {
                          "type": "string"
                        },
                        "sequence": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "occurredAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "payload": {
                          "type": "object",
                          "additionalProperties": true,
                          "description": "Type specific. An environment.* event should carry repository (owner/name) and branch on EVERY event and not only the first, because the environment row is created from whichever event arrives first and an event that cannot name its repository cannot create one. started_at is when the environment began existing, which is not when the event fired: usage and the expiry are measured from it, so an environment reported ready after its build is still billed for the build. ttl_seconds is the declared lifetime, added to that instant to give the expiry.",
                          "properties": {
                            "repository": {
                              "type": "string",
                              "description": "owner/name."
                            },
                            "branch": {
                              "type": "string"
                            },
                            "pull_request": {
                              "type": "integer",
                              "minimum": 1
                            },
                            "started_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "ttl_seconds": {
                              "type": "number",
                              "minimum": 1
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Every event was accepted or was a duplicate. An accepted event that changed no environment row carries a note saying why, and is counted in unprojected; it is stored either way.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResult"
                }
              }
            }
          },
          "207": {
            "description": "Some events were rejected. The outcomes array says which and why.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResult"
                }
              }
            }
          },
          "400": {
            "description": "The body is not JSON, or it carries no events array. Nothing was stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "401": {
            "description": "The token is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "The token is valid and the organization is suspended. Events are refused rather than dropped, so an engine should keep the batch and send it again after retryAfterSeconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "413": {
            "description": "The batch is larger than the limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "Too many events. Retry-After says how long to wait before sending the same batch again.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "500": {
            "description": "The request failed for a reason the control plane did not expect. The body carries a correlation id; nothing about the request payload is logged or returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/account.close": {
      "post": {
        "operationId": "trpc_account_close",
        "summary": "account.close",
        "description": "Requires the account.close permission, held by: owner, admin, member, viewer.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirm": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "confirm"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold account.close.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/account.context": {
      "get": {
        "operationId": "trpc_account_context",
        "summary": "account.context",
        "description": "Requires the account.close permission, held by: owner, admin, member, viewer.",
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold account.close.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/agents.run": {
      "post": {
        "operationId": "trpc_agents_run",
        "summary": "agents.run",
        "description": "Requires the agents.run permission, held by: owner, admin, member.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "envId": {
                    "type": "string"
                  },
                  "workflows": {
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    }
                  },
                  "workflow": {
                    "default": "antifailure.yml",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "pattern": "^[A-Za-z0-9._-]+\\.ya?ml$"
                  }
                },
                "required": [
                  "envId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold agents.run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/audit.export": {
      "post": {
        "operationId": "trpc_audit_export",
        "summary": "audit.export",
        "description": "Requires the audit.export permission, held by: owner, admin.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "format": {
                    "default": "json",
                    "type": "string",
                    "enum": [
                      "json",
                      "csv"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold audit.export.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/audit.list": {
      "get": {
        "operationId": "trpc_audit_list",
        "summary": "audit.list",
        "description": "Requires the audit.read permission, held by: owner, admin, member, viewer.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded tRPC input. This route refuses a request without it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string"
                    },
                    "limit": {
                      "default": 100,
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 500
                    },
                    "before": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold audit.read.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/audit.verify": {
      "get": {
        "operationId": "trpc_audit_verify",
        "summary": "audit.verify",
        "description": "Requires the audit.export permission, held by: owner, admin.",
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold audit.export.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/billing.get": {
      "get": {
        "operationId": "trpc_billing_get",
        "summary": "billing.get",
        "description": "Requires the billing.manage permission, held by: owner.",
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold billing.manage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/billing.set": {
      "post": {
        "operationId": "trpc_billing_set",
        "summary": "billing.set",
        "description": "Requires the billing.manage permission, held by: owner.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan": {
                    "type": "string",
                    "enum": [
                      "free",
                      "team",
                      "enterprise"
                    ]
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "plan"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold billing.manage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/deletion.advance": {
      "post": {
        "operationId": "trpc_deletion_advance",
        "summary": "deletion.advance",
        "description": "Requires the organization.delete permission, held by: owner.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "This route reads no input. The transport still requires a JSON content type, so send {}.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Ignored. The route declares no input validator."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold organization.delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/deletion.cancel": {
      "post": {
        "operationId": "trpc_deletion_cancel",
        "summary": "deletion.cancel",
        "description": "Requires the organization.delete permission, held by: owner.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "This route reads no input. The transport still requires a JSON content type, so send {}.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Ignored. The route declares no input validator."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold organization.delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/deletion.destroyExport": {
      "post": {
        "operationId": "trpc_deletion_destroyExport",
        "summary": "deletion.destroyExport",
        "description": "Requires the organization.delete permission, held by: owner.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "This route reads no input. The transport still requires a JSON content type, so send {}.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Ignored. The route declares no input validator."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold organization.delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/deletion.request": {
      "post": {
        "operationId": "trpc_deletion_request",
        "summary": "deletion.request",
        "description": "Requires the organization.delete permission, held by: owner.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirm": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 1000
                  }
                },
                "required": [
                  "confirm"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold organization.delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/deletion.status": {
      "get": {
        "operationId": "trpc_deletion_status",
        "summary": "deletion.status",
        "description": "Requires the organization.delete permission, held by: owner.",
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold organization.delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/environments.costs": {
      "get": {
        "operationId": "trpc_environments_costs",
        "summary": "environments.costs",
        "description": "Requires the environments.view permission, held by: owner, admin, member, viewer.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded tRPC input. This route refuses a request without it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hours": {
                      "default": 24,
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 720
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold environments.view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/environments.create": {
      "post": {
        "operationId": "trpc_environments_create",
        "summary": "environments.create",
        "description": "Requires the environments.create permission, held by: owner, admin, member.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "repository": {
                    "type": "string"
                  },
                  "branch": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "workflow": {
                    "default": "antifailure.yml",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "pattern": "^[A-Za-z0-9._-]+\\.ya?ml$"
                  },
                  "ttlHours": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "maximum": 8760
                  }
                },
                "required": [
                  "repository"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold environments.create.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/environments.get": {
      "get": {
        "operationId": "trpc_environments_get",
        "summary": "environments.get",
        "description": "Requires the environments.view permission, held by: owner, admin, member, viewer.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded tRPC input. This route refuses a request without it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "envId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "envId"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold environments.view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/environments.list": {
      "get": {
        "operationId": "trpc_environments_list",
        "summary": "environments.list",
        "description": "Requires the environments.view permission, held by: owner, admin, member, viewer.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded tRPC input. This route refuses a request without it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "repository": {
                      "type": "string"
                    },
                    "branch": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "creating",
                        "running",
                        "sleeping",
                        "failed",
                        "torn_down"
                      ]
                    },
                    "createdBy": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "limit": {
                      "default": 50,
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 200
                    },
                    "cursor": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold environments.view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/environments.teardown": {
      "post": {
        "operationId": "trpc_environments_teardown",
        "summary": "environments.teardown",
        "description": "Requires the environments.teardown permission, held by: owner, admin, member.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "envId": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "envId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold environments.teardown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/exports.organization": {
      "post": {
        "operationId": "trpc_exports_organization",
        "summary": "exports.organization",
        "description": "Requires the data.export permission, held by: owner, admin.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "This route reads no input. The transport still requires a JSON content type, so send {}.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Ignored. The route declares no input validator."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold data.export.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/health": {
      "get": {
        "operationId": "trpc_health",
        "summary": "health",
        "description": "Requires no permission.",
        "security": [],
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/invitations.create": {
      "post": {
        "operationId": "trpc_invitations_create",
        "summary": "invitations.create",
        "description": "Requires the members.manage permission, held by: owner, admin.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 320
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "owner",
                      "admin",
                      "member",
                      "viewer"
                    ]
                  }
                },
                "required": [
                  "email",
                  "role"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold members.manage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/invitations.list": {
      "get": {
        "operationId": "trpc_invitations_list",
        "summary": "invitations.list",
        "description": "Requires the members.manage permission, held by: owner, admin.",
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold members.manage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/invitations.resend": {
      "post": {
        "operationId": "trpc_invitations_resend",
        "summary": "invitations.resend",
        "description": "Requires the members.manage permission, held by: owner, admin.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold members.manage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/invitations.revoke": {
      "post": {
        "operationId": "trpc_invitations_revoke",
        "summary": "invitations.revoke",
        "description": "Requires the members.manage permission, held by: owner, admin.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold members.manage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/load.run": {
      "post": {
        "operationId": "trpc_load_run",
        "summary": "load.run",
        "description": "Requires the load.run permission, held by: owner, admin, member.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "envId": {
                    "type": "string"
                  },
                  "seconds": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3600
                  },
                  "scale": {
                    "type": "number",
                    "minimum": 0.01,
                    "maximum": 100
                  },
                  "workflow": {
                    "default": "antifailure.yml",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "pattern": "^[A-Za-z0-9._-]+\\.ya?ml$"
                  }
                },
                "required": [
                  "envId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold load.run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/masking.approve": {
      "post": {
        "operationId": "trpc_masking_approve",
        "summary": "masking.approve",
        "description": "Requires the masking.approve permission, held by: owner, admin.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "repository": {
                    "type": "string"
                  },
                  "table": {
                    "type": "string"
                  },
                  "column": {
                    "type": "string"
                  }
                },
                "required": [
                  "repository",
                  "table",
                  "column"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold masking.approve.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/masking.attestations": {
      "get": {
        "operationId": "trpc_masking_attestations",
        "summary": "masking.attestations",
        "description": "Requires the environments.view permission, held by: owner, admin, member, viewer.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded tRPC input. This route refuses a request without it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "repository": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "repository"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold environments.view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/masking.propose": {
      "post": {
        "operationId": "trpc_masking_propose",
        "summary": "masking.propose",
        "description": "Requires the masking.edit permission, held by: owner, admin, member.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "x-antifailure-csrf",
            "in": "header",
            "required": true,
            "description": "The CSRF token returned by GET /auth/session.",
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "repository": {
                    "type": "string"
                  },
                  "table": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "column": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "transform": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "link": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "repository",
                  "table",
                  "column",
                  "transform"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "403": {
            "description": "The role does not hold masking.edit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          },
          "500": {
            "description": "The route threw. tRPC formats this one, so it is a tRPC envelope rather than the ServerFailure body, and the stack is withheld: it names internal paths and table names to anyone who can provoke an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/masking.rules": {
      "get": {
        "operationId": "trpc_masking_rules",
        "summary": "masking.rules",
        "description": "Requires the environments.view permission, held by: owner, admin, member, viewer.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded tRPC input. This route refuses a request without it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "repository": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "repository"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tRPC result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcResult"
                }
              }
            }
          },
          "400": {
            "description": "The input did not satisfy this route's validator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrpcFailure"
                }
              }
            }
[...]
